body {
  padding-top: 20px;
  background-color: rgb(251, 255, 214);
}
.header h1 {
  text-align: center;
  text-shadow: 2px 1px #fff;
  font-style: italic;
}
h1 small {
  font-size: 20px;
}
h3 small {
  font-size: 15px;
}
.signature {
  font-style: italic;
}
a.list-title {
  color: #000;
  font-weight: bold;
}
a
{
  text-decoration: none;
  color: #e93fb6;
}
a:hover {
  color:#423fe9;
}
.no-list {
  list-style: none;
}
.htmlNotes
{
  color: #000;
  font-weight: bold;
}
.htmlNotes:hover
{
  cursor: pointer;
}
.course-code
{
  font-size: 20px;
}